@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist Sans';
  src: url('/fonts/Geist-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: white;
  overflow-x: hidden; /* Hide horizontal scroll from text offsets */
  font-family: 'Geist Sans', -apple-system,sans-serif;
}

/* Custom Scrollbar for Cyberpunk feel */
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: #333;
}
::-webkit-scrollbar-thumb:hover {
  background: #00ffff;
}
